canvas {
    width: 100%;
}

body {
    background-color: #050505;
    color: red;
    font-size: 10px;
}

header {
    background-color: rgb(143, 75, 44);
    padding: 20px;
}

header img {
    height: 150px;
}