canvas {
    width: 100%;
}

body {
    background-color: #050505;
    color: red;
}

h1 {
    font-size: 20px;
}

p {
    color: white;
    font-size: 10px;
}

header {
    background-color: rgb(143, 75, 44);
    padding: 20px;
    text-align: center;
}

header img {
    height: 150px;
}