canvas {
    width: 100%;
}

body {
    background-color: #050505;
    color: red;
    font-size: 5px;
}

header {
    background-color: rgb(143, 75, 44);
    padding: 20px;
    text-align: center;
}

header img {
    height: 150px;
}